 
 .navbar {
      font-family: verdana;
      margin-bottom: 2em;
      background-color: #595959;
      border: 0;
      font-size: 12px !important;
      letter-spacing: 2px;
      opacity: 0.7;
      color:white;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #fff !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #ff751a !important;
  }


.nav-item {
	color:white !important;
}
