<!DOCTYPE html>
<html ng-controller="StudentsController">
<head>
  <title>list students</title>
</head>
<body>
	<div class="container col-md-12 center" style="border-color:#004080 ">
	  <div class="panel panel-default">
	    <div style="background-color: #004080;color:white" class="panel-heading">Lista de alumnos 2017 - 2</div>
	    <div class="panel-body">
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Rut </th>
			        <th>Nombre</th>
			        <th>Correo electrónico</th>
			        <th>Carrera</th>
			        <th>Año de ingreso</th>
			      </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="student in students">
			        	<td>{{ student.rut}}</td>
			        	<td >{{ student.name}}</td>
			        	<td >{{ student.email}}</td>
			        	<td >{{ student.career}}</td>
			        	<td>{{ student.admissionYear}}</td>
			        </tr>
			        	
			    </tbody>
			  </table>
			</div>
		</div>
	</div>	
</body>
</html>