<!DOCTYPE html>
<html ng-controller="StudentController">
<head>
<title>manage student</title>
</head>
<body>
	<div></div>
	<div class="container" style="border-color: #004080;">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div style="background-color: #004080; color: white" class="panel-heading">
						Ingresar alumno
					</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="rut" class="col-md-4 control-label">RUT alumno(a)</label>
								<div class="col-md-8">
									<input ng-model="newStudent.rut" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="name" class="col-md-4 control-label">Nombre alumno(a)</label>
								<div class="col-md-8">
									<input ng-model="newStudent.name" type="text" class="form-control" id="name">
								</div>
							</div>
							<div class="form-group">
								<label for="email" class="col-md-4 control-label">Correo electronico</label>
								<div class="col-md-8">
									<input ng-model="newStudent.email" type="email" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="career" class="col-md-4 control-label">Carrera</label>
								<div class="col-md-8">
									<input ng-model="newStudent.career" type="text"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="admissionYear" class="col-md-4 control-label">Año de ingreso</label>
								<div class="col-md-8">
									<input ng-model="newStudent.admissionYear" type="text"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-4">
									<button ng-click="send()"
										style="background-color: #ff751a; color: white" type="submit"
										class="btn btn-default">Ingresar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>